<div class="card">
  <div class="book-header">
    <!-- Configuración de la URL de la imagen -->
    <img src="cover/{{ image }}" alt="Book image" class="book-image" [alt]="title">
    <div class="book-info">
      <strong class="d-inline-block mb-2 text-primary-emphasis">{{ gender }}</strong>
      <h4 class="mb-0 shortened-title">{{ title }}</h4>
      <div class="mb-1 text-body-secondary shortened-title">{{ authors || 'Desconocido' }}</div>
      <app-star [rating]="rating"></app-star>
    </div>
  </div>

@if (isAdmin || isLibrarian) {
    <div class="button-group">
      <button class="btn btn-outline-danger" (click)="onDeleteBook()">
        <i class="bi bi-trash-fill"></i>
      </button>
      <button class="btn btn-outline-primary" (click)="navigateToBookEdit()">
        <i class="bi bi-pencil-fill"></i>
      </button>
    </div>
  }

    <!-- Contenedor para los botones Pedir e Información -->
    <div class="button-group-actions">
      @if (isUser) {
      <button class="btn btn-success" (click)="onRentBook()">
        <i class="bi bi-cart-plus-fill"></i> Pedir
      </button>
      }
      <button class="btn btn-info" (click)="navigateToBookDetails()">
        <i class="bi bi-info-circle-fill"></i> Información
      </button>
    </div>