<app-navbar></app-navbar>

<div class="container-form">
  <!-- Barra superior azul -->
  <div class="information-top">
    <div class="info-childs">
      <h2>Tus Préstamos</h2>
    </div>
  </div>

  <div class="profile-container">

    <!-- Contenedor principal -->
    <div class="form-information">
      <!-- Lista de préstamos -->
      <div id="Book-list" style="max-height: 700px; overflow-y: auto; width: 100%;">

        <div *ngIf="rents.length === 0" class="text-center">
          <p class="text-muted">No tienes préstamos activos.</p>
        </div>

        <app-see-rents
          *ngFor="let rent of rents"
          [title]="rent.copias?.titulo || 'Libro no disponible'"
          [userEmail]="rent.usuario?.usuario_email"
          [copyID]="rent.copias?.copiaID"
          [status]="rent.estado"
          [fecha_entrega]="rent.fecha_entrega"
          [fecha_devolucion]="rent.fecha_devolucion"
          [image]="rent.copias.image"
          [daysLeft]="rent.days_left"
          [rent] = "rent">
        </app-see-rents>
        
      </div>
    </div>
  </div>
</div>
