
<body>
<div class="container-form login">
    <div class="information">
        <div class="info-childs">
            <h2>¡¡Bienvenido nuevamente!!</h2>
            <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
            <input type="button" value="Registrarse"  routerLink="/register">
        </div>
    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>Iniciar Sesión</h2>

            <form (ngSubmit)="submit()" [formGroup]="loginForm" class="form form-login" novalidate>
                <div>
                    <label>
                        <i class='bx bx-envelope'></i>
                        <input 
                            type="email" 
                            placeholder="Correo Electrónico" 
                            formControlName="usuario_email"
                            required
                        >
                    </label>
                </div>
                <div>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input 
                            type="password" 
                            placeholder="Contrasena" 
                            formControlName="usuario_contrasena" 
                            required
                        >
                    </label>
                </div>
                <input 
                    type="submit" 
                    value="Iniciar Sesión" 
                    [disabled]="loginForm.invalid"
                >
                <div>
                    <a routerLink="/home" class="volver-inicio">Volver al inicio</a>
                </div>

                <!-- Alertas -->
                <div *ngIf="loginForm.invalid && loginForm.touched" class="alerta-error">
                    Todos los campos son obligatorios
                </div>
            </form>
        </div>
    </div>
</div>
</body>