<app-navbar></app-navbar>

<div class="container book-page">
  <div class="row">
    <!-- Información del libro -->
    <div class="col-lg-6 col-md-12 book-info-container">
      <div class="book-image-container">
        <img src="cover/{{ image }}" alt="Book Image" class="book-image">
      </div>
      <div class="book-details">
        <h1 class="book-title">{{ titulo }}</h1>
        <p class="book-meta"><strong>Género:</strong> {{ genero }}</p>
        <p class="book-meta"><strong>Autor:</strong> {{ str_autores }}</p>
        <p class="book-meta"><strong>Editorial:</strong> {{ editorial }}</p>
      </div>
    </div>

    <!-- Formulario de edición -->
    <div class="col-lg-6 col-md-12">
      <form [formGroup]="editBookForm" (ngSubmit)="submit()" class="edit-book-form">
        <!-- Título -->
        <div class="form-group">
          <label for="titleInput" class="form-label"><i class="bi bi-book"></i> Título:</label>
          <input id="titleInput" formControlName="title" class="form-control" type="text" placeholder="Escribe un nuevo título" [value]="titulo">
        </div>

        <!-- Editorial -->
        <div class="form-group">
          <label for="editorialInput" class="form-label"><i class="bi bi-building"></i> Editorial:</label>
          <input id="editorialInput" formControlName="editorial" class="form-control" type="text" placeholder="Escribe una nueva editorial" [value]="editorial">
        </div>

        <!-- Autores -->
        <div class="form-group">
          <label for="authorInput" class="form-label"><i class="bi bi-people"></i> Autores:</label>
          <div class="input-group">
            <input id="authorInput" formControlName="author" type="text" class="form-control" list="authorsList" placeholder="Buscar autor" (input)="getAuthors()">
            <button class="btn btn-save" type="button" (click)="addAuthor()">
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>

          <datalist id="authorsList">
            @for (author of lista_autores; track author.id) {
              <option value="{{ author.autor_nombre }} {{ author.autor_apellido }}"></option>
            }
          </datalist>

          <ul class="list-group list-group-flush">
            @for (libro_autor of libros_autores; track libro_autor.autorID) {
              <li class="list-group-item d-flex justify-content-between">
                {{ libro_autor.autor_nombre }} {{ libro_autor.autor_apellido }}
                <button class="btn btn-outline-danger" id="delete-author-{{ libro_autor.autorID }}" type="button" (click)="deleteAuthor(libro_autor.autorID)">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </li>
            }
          </ul>
        </div>

        <!-- Género -->
        <div class="form-group mb-3">
          <label for="genreSelect" class="form-label"><i class="bi bi-bookmark"></i> Género:</label>
          <select id="genreSelect" formControlName="genero" class="form-select">
            @for (g of generos; track g) {
              <option [selected]="g === genero" [value]="g">{{ g }}</option>
            }
          </select>
        </div>

        <app-add-copies
          [id]="bookId"
          [copies]="this.copias">
        </app-add-copies>

        <!-- Botón Guardar -->
        <div class="text-center ">
          <button class="btn btn-upload w-100">
            <i class="bi bi-floppy-fill"></i> Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
