<app-navbar></app-navbar>

<div class="py-3" id="rentAlertPlaceholder"></div>

<div class="container-rents">
  <!-- Encabezado con título -->
  <div class="header-section">
    <h1>Gestión de Préstamos</h1>
  </div>

  <!-- Sección de filtros -->
  <div class="filter-section rounded shadow-sm">
    <h4 class="filter-title">Filtrar Préstamos</h4>
    <div class="row g-3">
      <div class="col-lg-3 col-md-6">
        <label for="fechaEntrega" class="form-label">Fecha de Entrega</label>
        <input type="date" id="fechaEntrega" class="form-control" [(ngModel)]="filters.fecha_entrega" (change)="filterRents()">
      </div>
      <div class="col-lg-3 col-md-6">
        <label for="fechaDevolucion" class="form-label">Fecha de Devolución</label>
        <input type="date" id="fechaDevolucion" class="form-control" [(ngModel)]="filters.fecha_devolucion" (change)="filterRents()">
      </div>
      <div class="col-lg-3 col-md-6">
        <label for="copiaID" class="form-label">ID de la Copia</label>
        <input type="text" id="copiaID" class="form-control" placeholder="Ej. 1, 2, 3" [(ngModel)]="filters.copiaID" (input)="filterRents()">
      </div>
      <div class="col-lg-3 col-md-6">
        <label for="usuarioID" class="form-label">ID del Usuario</label>
        <input type="text" id="usuarioID" class="form-control" placeholder="Ej. 1, 2, 3" [(ngModel)]="filters.usuarioID" (input)="filterRents()">
      </div>
    </div>

    <app-add-rent class="d-flex justify-content-center mt-3"
    (rentCreated)="rentCreated()"
    (errorRentCreated)="errorRentCreated()">
    </app-add-rent>


  </div>

  <!-- Lista de préstamos -->
  <div class="rents-list">
    <app-see-rents
      *ngFor="let rent of rents"
      [id]="rent.prestamoID"
      [copyID]="rent.copias?.copiaID"
      [status]="rent.estado"
      [title]="rent.copias?.titulo || 'Libro no disponible'"
      [userEmail]="rent.usuario?.usuario_email"
      [fecha_entrega]="rent.fecha_entrega"
      [fecha_devolucion]="rent.fecha_devolucion"
      [image]="rent.copias.image"
      [daysLeft]="rent.days_left || 0">
    </app-see-rents>
  </div>

  <!-- Mensaje si no hay préstamos -->
  <div *ngIf="rents.length === 0" class="no-rents-alert">
    No se encontraron préstamos.
  </div>

  <!-- Paginación -->
  <div class="pagination-section">
    <app-paginate [page]="page" [pages]="pages" (pageChange)="getRents($event)"></app-paginate>
  </div>
</div>
