<div class="user-card">
  <div class="user-content">
    <div class="user-avatar">
      <div class="avatar-circle">
        {{ user?.usuario_nombre[0] }}{{ user?.usuario_apellido[0] }}
      </div>
    </div>
    <div class="user-info">
      <h5 class="user-name">{{ nombre }} {{ apellido }}</h5>
      <p class="user-email"><i class="bi bi-envelope"></i> {{ email }}</p>
      <p class="user-phone"><i class="bi bi-telephone"></i> {{ telefono }}</p>
      <p class="user-role"><i class="bi bi-person-badge"></i> {{ rol }}</p>
    </div>
  </div>
  <div class="button-group">
    <button class="btn edit-button" (click)="openModal()">
      <i class="bi bi-pencil"></i> Editar
    </button>
    <button class="btn delete-button" (click)="deleteUser()">
      <i class="bi bi-trash"></i> Eliminar
    </button>
  </div>
</div>



<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <h3>Editar Rol</h3>
    <form (ngSubmit)="updateUserRole()">
      <div>
        <label for="rol">Nuevo Rol</label>
        <select id="rol" [(ngModel)]="editedRole" name="rol" required class="form-select">
          <option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </option>
        </select>
      </div>
      <div class="modal-actions">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>

