<div class="user-info">
  <div class="user-details">
    <strong class="user-name">{{ nombre }} {{ apellido }}</strong>
    <span class="user-email">{{ email }}</span>
    <span class="user-phone">Teléfono: {{ telefono }}</span>
    <span class="user-role">{{ rol }}</span>
    <div class="button-group">
      <button class="btn delete-button" (click)="deleteUser()">
        <i class="bi bi-trash">Eliminar</i>
      </button>
      <button class="btn edit-button" (click)="openModal()">
        <i class="bi bi-pencil">Editar</i>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <h3>Editar Rol</h3>
    <form (ngSubmit)="updateUserRole()">
      <div>
        <label for="rol">Nuevo Rol</label>
        <select id="rol" [(ngModel)]="editedRole" name="rol" required class="form-select">
          <option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </option>
        </select>
      </div>
      <div class="modal-actions">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>

