<div class="row">
  <div id="book-list" class="col-12">
    <div class="card loan-card">
      <!-- Encabezado -->
      <div class="book-header d-flex align-items-center">
        <div class="book-info ms-3">
          <h5 class="fw-bold mb-1 pt-2">Titulo: {{ title }}</h5>
          <p class="mb-1"><span class="badge bg-primary">Días restantes: {{ daysLeft }}</span></p>
          <p class="card-text mb-2"><strong>Estado: </strong> 
            <span class="badge bg-{{ statusColor }} text-bg-{{ statusColor }}">{{ status }}</span>
          </p>
          <div *ngIf="isAdmin || isLibrarian" class="mt-2">
            <p class="text-muted small">Alquilado por: {{ userEmail }}</p>
          </div>

          
          <p class="text-muted small">Copia: {{ copyID }}</p>
          <ul class="loan-details list-unstyled mt-2 small">
            <li><strong>📅 Entrega:</strong> {{ fecha_entrega | date: 'yyyy-MM-dd' }}</li>
            <li><strong>📅 Devolución:</strong> {{ fecha_devolucion | date: 'yyyy-MM-dd' }}</li>
          </ul>
        </div>
      </div>
      
      
      <div *ngIf="isUser" class="button-group mt-3">
        <button class="btn btn-primary" >Renovar</button>
      </div>  
      
      <!-- Botones de acción -->
      <div *ngIf="isAdmin || isLibrarian" class="button-group mt-3">
        <button class="btn delete-button" (click)="deleteLoan()">
          <i class="bi bi-trash"></i> Eliminar
        </button>
        <button class="btn edit-button" (click)="openModal()">
          <i class="bi bi-pencil"></i> Editar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar fechas -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <h3>Editar Fechas del Préstamo</h3>
    <form (ngSubmit)="updateLoan()">
      <div>
        <label for="fechaEntrega">Fecha de Entrega</label>
        <input type="date" id="fechaEntrega" [(ngModel)]="editedFechaEntrega" name="fechaEntrega" required />
      </div>
      <div>
        <label for="fechaDevolucion">Fecha de Devolución</label>
        <input type="date" id="fechaDevolucion" [(ngModel)]="editedFechaDevolucion" name="fechaDevolucion" required />
      </div>
      <div class="modal-actions">
        <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i> Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          <i class="bi bi-x-circle"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
