<app-navbar></app-navbar>

<div class="profile-container">
    <div class="profile-card">
      <h2>Mi Perfil</h2>
      <div class="profile-details">
        <p><strong>Nombre:</strong> {{ user.usuario_nombre }}</p>
        <p><strong>Apellido:</strong> {{ user.usuario_apellido }}</p>
        <p><strong>Email:</strong> {{ user.usuario_email }}</p>
        <p><strong>Teléfono:</strong> {{ user.usuario_telefono }}</p>
        <p><strong>Rol:</strong> {{ user.rol }}</p>
      </div>
      <button class="btn btn-primary" (click)="openEditModal()">Editar Datos</button>
    </div>
  
    <!-- Modal para editar datos -->
    <div class="modal" [class.show]="isModalOpen">
      <div class="modal-content">
        <h3>Editar Perfil</h3>
        <form [formGroup]="editForm" (ngSubmit)="submitEdit()">
          <div>
            <label for="usuario_nombre">Nombre</label>
            <input type="text" id="usuario_nombre" formControlName="usuario_nombre" />
          </div>
          <div>
            <label for="usuario_apellido">Apellido</label>
            <input type="text" id="usuario_apellido" formControlName="usuario_apellido" />
          </div>
          <div>
            <label for="usuario_email">Email</label>
            <input type="email" id="usuario_email" formControlName="usuario_email" />
          </div>
          <div>
            <label for="usuario_telefono">Teléfono</label>
            <input type="number" id="usuario_telefono" formControlName="usuario_telefono" />
          </div>
          <div class="modal-actions">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  